{% extends "home/home.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block head %}
  	{{ super() }}
  	{% endblock %}
  </head>
  <body>
  	{% block navbar %}
  	{{ super() }}
  	{% endblock %}

  	{% block noidung %}
    <div class="container my-2" id = "FCFE_table">
      <form  method="POST" action="{{ url_for('user_app.forgot')}}" role="forgot_form" id="forgot_form">
    		<div class="row">
          {{ forgot_form.hidden_tag() }}
          {% for field in forgot_form if field != None %}
            {% if loop.index > 1 %}
      			<div class="col-md-6 offset-md-3">
                <div class="form-group row d-flex align-items-center">
                {{ field.label(class_ = "col-sm-6 col-6 col-form-label") }}
                {% if (flag == 1) and field.name in forgot_form.errors.keys() %}
                  <div class="col-sm-6 col-6">
                    {{ field(class_ = "form-control text-center is-invalid") }}
                    <div class="invalid-feedback">
                      {{ field.errors[0] }}
                    </div>
                  </div>
                  {%  elif (flag == 1) %}
                  <div class="col-sm-6 col-6">
                    {{ field(class_ = "form-control text-center is-valid") }}
                  </div>
                  {% else %}
                  <div class="col-sm-6 col-6">
                    {{ field(class_ = "form-control text-center") }}
                  </div>
                  {% endif %}
                </div>
            </div>
            {% endif %}
          {% endfor %}
      			<div class="col-md-6 d-none">
      				Second
      			</div>
    		</div>
        <div class="row my-2">
          <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-outline-success pl-4 pr-4" id="Forgot" value = "Send" >
          </div>
      </div>
  </form>
	</div>
  	{% endblock %}


  	{% block footer %}
  	{{ super() }}
  	{% endblock %}
  </body>
</html>